@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.primary {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #a29bfe 74%);
  
}
.primaryL {
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #a29bfe 74%);
  
}
.secondary {
  background-color: #FE3055;
}
.secondaryL {
  background-color: #FF7D94;
}
.whitebg {
  background-color: #fff;
}

.black {
  color: #000000;
}

.mainMain {
  height: 90vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: #fff;
  color: grey !important;
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
  margin: 50px;
  font-size: 1.2rem;
  cursor:grab;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.meta-card {
  text-align: start;
  position: absolute;
  color: silver;
  font-size: 0.8rem;
}

.header {
  background-color: #010101;
  color: white;
  box-shadow: 3px 3px 5px silver;
  border: none;
}


